{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-warning mb-4">Commenti dei film</h2>
    <ul class="list-group">
        {% for commento in commenti %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{ commento.film.titolo }}</strong> - {{ commento.utente.username }}<br>
                    <small>{{ commento.testo }}</small>
                </div>
                <a href="{% url 'moderazione:elimina_commento' commento.pk %}" class="btn btn-danger btn-sm">Elimina</a>
            </li>
        {% empty %}
            <li class="list-group-item">Nessun commento disponibile.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
