{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-warning mb-4">Seleziona un film</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for film in film_list %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ film.titolo }}</h5>
                    <a href="{% url 'utenti:commenti_per_film' film.id %}" class="btn btn-outline-primary">
                        Visualizza commenti
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
