<!DOCTYPE html>
<html lang="it">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cinema{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font e icone -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <!-- CSS personalizzato -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
        .hover-grow:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }

    </style>
</head>

<body class="d-flex flex-column min-vh-100" style="background-color: #002b49; color: white;">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg shadow-sm" style="background-color: #001f33; padding: 1.2rem 0;">
            <div class="container">
            <a class="navbar-brand d-flex align-items-center text-warning fs-3 fw-semibold hover-grow"
            href="{% url 'film:homepage' %}">
            <i class="bi bi-film me-2" style="font-size: 2rem;"></i> Ciak Cinema
            </a>

            <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav gap-3" style="font-size: 1rem;">
                    <!-- Per l'utente moderatore gli diamo questo "dropdown"-->
                    {% if request.user.is_authenticated and request.user.profiloutente.is_moderatore %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">Moderazione</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'utenti:seleziona_film' %}">Commenti</a></li>
                            <li><a class="dropdown-item" href="{% url 'utenti:lista_discussioni_mod' %}">Discussioni Forum</a></li>
                        </ul>
                    </li>
                    {% endif %}

                    {% if user.is_staff %}      <!-- Solo se utente staff mostriamo queste opzioni -->
                    <li class="nav-item dropdown">
                    <a class="nav-link text-white dropdown-toggle" href="#" id="gestioneDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestione
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="gestioneDropdown">
                        <li><a class="dropdown-item" href="{% url 'film:film_create' %}">Aggiungi film</a></li>
                        <li><a class="dropdown-item" href="{% url 'film:film_list_modifica' %}">Modifica film</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'film:proiezione_create' %}">Aggiungi proiezione</a></li>
                        <li><a class="dropdown-item" href="{% url 'film:proiezione_list_modifica' %}">Modifica proiezione</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'prenotazioni:prenotazione_list' %}">Gestisci prenotazioni</a></li>
                    </ul>
                    </li>
                    {% endif %}             <!-- Il resto delle opzioni per tutti-->
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'film:cerca_film' %}">Cerca Film</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'prenotazioni:proiezioni-list' %}">Prenota</a>
                    </li>
                    <li class="nav-item">       <!-- Se utente loggato mostrerà l'opzione di abbonamento -->
                    {% if user.is_authenticated %}
                        <a class="nav-link text-warning" href="{% url 'utenti:abbonati' %}">Abbonati</a>
                    {% else %}
                        <a class="nav-link text-warning" href="{% url 'utenti:signup' %}?next={% url 'utenti:abbonati' %}">Abbonati</a>
                    {% endif %}
                    </li>
                    {% if user.is_authenticated%}
                        <li><a class="nav-link text-white" href="{% url 'film:statistiche_film' %}">Statistiche</a></li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'utenti:lista_discussioni' %}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'film:dove_siamo' %}">Dove siamo</a>
                    </li>

                    <!-- Qui la logica che riguarda il campo utente (se loggato/silver/gold)-->
                    {% if user.is_authenticated %}
                    {% with user.profiloutente.abbonamento as abbonamento %}
                        <li class="nav-item dropdown"> <!-- IN BASE al tipo di utente viene un colore diverso del NOME! -->
                            <a class="nav-link dropdown-toggle d-flex align-items-center"
                            href="#" role="button" data-bs-toggle="dropdown"    
                            style="color:       
                                {% if abbonamento == 'gold' %}
                                    gold
                                {% elif abbonamento == 'silver' %}
rgb(198, 192, 255)
                                {% else %}
                                    white
                                {% endif %} 
                            ">  
                                <i class="bi bi-person-circle fs-4 me-1"></i> {{ user.username }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <span class="dropdown-item-text text-muted">
                                        {% if abbonamento == 'gold' %}
                                            Utente Gold
                                        {% elif abbonamento == 'silver' %}
                                            Utente Silver
                                        {% elif user.is_staff %}
                                            Utente staff
                                        {% elif request.user.profiloutente.is_moderatore %}
                                            Utente moderatore
                                        {% else %}
                                            Utente Base
                                        {% endif %}
                                    </span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'utenti:profilo' %}">👤Profilo</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>        <!-- utilizzo del metodo post per sicurezza -->
                                <form method="post" action="{% url 'utenti:logout' %}" style="margin: 0; padding: 0;">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item text-danger" style="width: 100%; text-align: left;">
                                    Logout
                                    </button>
                                </form>
                                </li>
                            </ul>
                        </li>
                    {% endwith %}
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-person-circle fs-4 me-1"></i> Account
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'utenti:login' %}">Login</a></li>
                            <li><a class="dropdown-item" href="{% url 'utenti:signup' %}">Registrati</a></li>
                        </ul>
                    </li>
                {% endif %}


                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}               <!-- Questo gestisce i messaggi di successo etc ... -->
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <!-- Contenuto principale, sarà esteso dagli altri file html -->
    <div class="container flex-grow-1 py-4">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer incluso -->
    {% include "footer.html" %}

    <!-- Inclusione di un potenziale script se serve -->
    {% block extra_js %}{% endblock %}


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
