{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-warning mb-4">Dove siamo</h2>
    <p class="mt-4 text-white">
        Ci trovi in <strong>Via Vignolese, 32 - Modena</strong>. Ti aspettiamo con le migliori proiezioni!
    </p>
    <div class="ratio ratio-16x9">
        <iframe 
            src="https://www.google.com/maps?q=Via%20Vignolese%2C%20Modena&output=embed"
            width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
</div>
{% endblock %}
